@font-face {
  font-family: "ACCchildrenheartOTF-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "ACCchildrenheartOTF-Regular";
}

body {
  margin: 0;
}
